<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <p>
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </p>

    <h1>Contact</h1>
    <section>
                  <div >
                    <i></i>
                    <h3>Our Address</h3>
                    <p>Postojna </p>
                  </div>
                </div>
                <div>
                  <div>
                    <i></i>
                    <h3>Email Us</h3>
                    <p>talldigitressfor@gmail.com<br>contact@info.com</p>
                  </div>
                </div>
                <div>
                  <div>
                    <i></i>
                    <h3>Call Us</h3>
                    <p>+38640 000 000<br>+386 111 111</p>
                  </div>
                </div>
              </div>
  
            </div>
</body>
</html>